.home {
    width: 200px;
    height: 100px;

}

.home-img {
    margin-top: 106px;
    width: 1300px;
    height: 758px;
    margin-left: 120px;
}

.home-cards {
    padding-top: 900px;
    display: flex;
    gap: 32px;
    padding-bottom: 100px;
}

.home-card {
    /* 01 */
    position: static;
    width: 358px;
    height: 225px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 42px;
}

.home-card h1 {
    color: rgb(41, 47, 54);
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
}

.home-card p {
    color: rgb(77, 80, 83);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
}